# Required everywhere:
DB_ROOT_PASSWORD=root
DB_USER=app_user
DB_PASSWORD=app_user_password
# In prod would be e.g. https://clasharmies.com
ORIGIN=http://localhost:5173
GOOGLE_AUTH_CLIENT_ID=google_auth_client_id_string
GOOGLE_AUTH_SECRET=google_auth_secret_string
VISITOR_ID_SECRET=HaGcuCVZugldh4DqYyCy4dOEuhKkQJ4Xv23nEmX74AHfocJsu0ZO3n9hAVQTxwEUA2iA61VScKKJigB5FvTBlvYpjXmoZJa+rP

# Dev only:
# In production DB_HOST should be set instead, matching the compose file's database service name.
DB_PORT=3309

# Prod only:
DB_HOST=db
HOST_PORT=20000
ADDRESS_HEADER=X-Real-IP
