.units-list {
	/* Prevent page shift when adding first unit */
	min-height: calc(var(--unit-size) + var(--bottom-padding) + 1px);
	display: flex;
	flex-flow: row wrap;
	gap: 6px;
}
.units-list li button {
	display: block;
	width: 100%;
	height: 100%;
}
.units-list:not(.removable) li button {
	cursor: default;
}
.units-list:not(.removable) li button:focus {
	outline: none;
}

.picker-list {
	--gap: 6px;
	--max-rows: 3;
	display: flex;
	flex-flow: row wrap;
	gap: var(--gap);
	padding-right: 12px;
	/** Show max 3 rows of units (meant more for mobile so you can still see the unit you've selected at all times) */
	max-height: calc((var(--unit-size) * var(--max-rows)) + (var(--gap) * (var(--max-rows) - 1)));
	overflow-y: auto;
}
.picker-list li {
	position: relative;
	width: var(--unit-size);
	height: var(--unit-size);
}
.picker-list li > button:not(.replace-pet) {
	display: block;
	width: 100%;
	height: 100%;
}
.picker-list li button:disabled,
.picker-list li button.visually-disabled {
	filter: grayscale(1);
}
