.units-list {
	/* Prevent page shift when adding first unit */
	min-height: calc(var(--unit-size) + var(--bottom-padding) + 1px);
	display: flex;
	flex-flow: row wrap;
	gap: 6px;
}
.units-list li button {
	display: block;
	width: 100%;
	height: 100%;
}
.units-list:not(.removable) li button {
	cursor: default;
}
.units-list:not(.removable) li button:focus {
	outline: none;
}

.picker-list {
	--gap: 6px;
	--max-rows: 3;
	display: flex;
	flex-flow: row wrap;
	gap: var(--gap);
	padding-right: 12px;
	/** Show max 3 rows of units (meant more for mobile so you can still see the unit you've selected at all times) */
	max-height: calc((var(--unit-size) * var(--max-rows)) + (var(--gap) * (var(--max-rows) - 1)));
	overflow-y: auto;
}
.picker-list li {
	position: relative;
	width: var(--unit-size);
	height: var(--unit-size);
}
.picker-list li > button:not(.replace-pet) {
	display: block;
	width: 100%;
	height: 100%;
}
.picker-list li button:disabled,
.picker-list li button.visually-disabled {
	filter: grayscale(1);
}

.ca-menu {
	background-color: var(--grey-850);
	border: 1px dashed var(--grey-500);
	box-shadow: 0 10px 25px 5px hsla(0, 0%, 0%, 0.25);
	border-radius: 4px;

	& .ca-menu-list {
		display: flex;
		flex-flow: column nowrap;
		padding: 6px 0;

		& a,
		& button {
			display: inline-flex;
			align-items: center;
			white-space: nowrap;
			position: relative;
			transition: color 0.15s ease-in-out;
			color: var(--grey-400);
			font-size: var(--fs-sm);
			line-height: var(--fs-sm-lh);
			font-weight: 500;
			padding: 7px 16px;
			width: 100%;
			gap: 6px;

			&:hover {
				color: var(--grey-100);
			}

			& svg {
				height: 16px;
				width: auto;
			}
		}
	}
}

.utility-btn {
	--br: 4px;
	--gap: 10px;
	--icon-height: 14px;
	--fs: 14px;
	--_fs-weight: var(--fs-weight, 700);
	--_bg-clr: var(--bg-clr, none);
	--_bg-clr-hover: var(--bg-clr-hover, var(--grey-600));

	display: flex;
	align-items: center;
	border: 1px dashed var(--grey-500);
	border-radius: var(--br);
	background-color: var(--_bg-clr);
	padding: var(--pad);
	gap: var(--gap);
	color: var(--grey-100);
	font-size: var(--fs);
	line-height: var(--fs);
	font-weight: var(--_fs-weight);
	text-transform: uppercase;
	white-space: nowrap;

	&:hover:not(:disabled) {
		background-color: var(--_bg-clr-hover);
	}

	& svg {
		height: var(--icon-height);
		width: auto;
	}

	&.regular {
		--pad: 8px;
	}

	&.large {
		--pad: 10px;
	}

	@media (max-width: 400px) {
		--gap: 8px;
		--icon-height: 12px;
		--fs: 12px;

		&.regular {
			--pad: 6px;
		}

		&.large {
			--pad: 8px;
		}
	}
}

& .context-menu-btn {
	color: var(--grey-400);
	padding: 2px;

	&:hover {
		color: var(--grey-100);
	}

	& svg {
		height: 16px;
		width: auto;
	}
}
